@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Aquavision</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="~/Content/css/core-style.css">
	<link rel="stylesheet" href="~/Content/css/index-style.css">
	<link rel="stylesheet" href="~/Content/css/responsive.css">
	<link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="~/Content/css/custom-index.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
	<div class="header_section">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="logo"><a href="index.html"><img src="~/Content/img/product-img/AquavisionLogo.png"></a></div>
				<button style="margin-left:115px" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse headermenu" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="index.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Application</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Shop</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="banner_section">
		<div class="container-fluid">
			<div id="costum_slider" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="~/Content/img/product-img/HomeImage1.jpg" alt="Image">
					</div>
					<div class="carousel-item">
						<img src="~/Content/img/product-img/HomeImage4.jpg" alt="Image">
					</div>

				</div>
				<a class="carousel-control-prev" href="#costum_slider" role="button" data-slide="prev">
					<i class=""><img src="~/Content/img/product-img/left-arrow.png"></i>
				</a>
				<a class="carousel-control-next" href="#costum_slider" role="button" data-slide="next">
					<i class=""><img src="~/Content/img/product-img/right-arrow.png"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="services_section">
		<div class="container">
			<h1 class="services_taital">Categories</h1>
			<p class="many_taital">List Of Product Categories </p>
			<div class="services_section2 layout_padding">
				<div class="row row-content-center">
					@foreach (var item in ViewBag.Categories) {
						<div class="col-lg-3 col-sm-6" style="padding: 15px;">
							<div class="icon_1">
								@*<img src="~/Content/img/product-img/AquavisionLogo.png">*@
								@*@if (item.Image != null) {
									<img src="data:image/png;base64,@(Convert.ToBase64String(item.Image))">
								} else {
									<img src="~/Content/img/product-img/icon-1.png">
								}*@
							</div>
							<h2 class="furnitures_text">@item.Name</h2>
							@*<p class="dummy_text d-none">@item.Description</p>*@
							<div class="read_bt_main">
								<div class="read_bt"><a href="@Url.Action("List", "Product", new {categoryId = item.Id})">See Products</a></div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>

	<div class="services_section">
		<div class="container">
			<h1 class="services_taital">Products</h1>
			<p class="many_taital">List Of Products </p>
			<div class="services_section2 layout_padding">
				<div class="row row-content-center">
					@foreach (var item in ViewBag.Products) {
						<div class="col-lg-3 col-sm-6" style="padding: 15px;">
							<div class="icon_1">
								@if (item.Image != null) {
									<img src="data:image/png;base64,@(Convert.ToBase64String(item.Image))">
								} else {
									<img src="~/Content/img/product-img/icon-1.png">
								}
							</div>
							<h2 class="furnitures_text">@item.Name</h2>
							<p class="dummy_text d-none">@item.Description</p>
							<div class="read_bt_main">
								<div class="read_bt"><a href="@Url.Action("Customise", "Product", new {productId = item.Id})">Customise</a></div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>

	@*<div class="projects_section">
		<div class="container">
			<h1 class="our_text">Our Applications</h1>
			<p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
			<div id="main_slider" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="projects_section2">
							<div class="container_main2">
								<div class="row">
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-4.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Residential</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-5.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Home Automation</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-6.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Hospitality</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="projects_section2">
							<div class="container_main2">
								<div class="row">
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-4.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Architects and Designers</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-5.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Marine</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="container_main1">
											<img src="~/Content/img/product-img/img-6.png" alt="Avatar" class="image" style="width:100%">
											<h1 class="modern_text">Commercial</h1>
											<div class="middle">
												<div class="text">VIEW MORE</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>*@
	@*<div class="clients_section" style="padding-top:0px;">
		<div class="container">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<h1 class="client_text">what is says our clients</h1>
						<p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
						<div class="clients_section2 layout_padding">
							<div class="client_1">
								<div class="row">
									<div class="col-sm-3">
										<div class="image_7"><img src="~/Content/img/product-img/img-7.png"></div>
										<div class="quote_icon"><img src="~/Content/img/product-img/quote-icon.png"></div>
									</div>
									<div class="col-sm-9">
										<h1 class="loksans_text">loksans</h1>
										<p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
									</div>
								</div>
							</div>
							<div class="client_2">
								<div class="row">
									<div class="col-sm-3">
										<div class="image_7"><img src="~/Content/img/product-img/img-7.png"></div>
										<div class="quote_icon"><img src="~/Content/img/product-img/quote-icon.png"></div>
									</div>
									<div class="col-sm-9">
										<h1 class="loksans_text">loksans</h1>
										<p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<h1 class="client_text">what is says our clients</h1>
						<p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
						<div class="clients_section2 layout_padding">
							<div class="client_1">
								<div class="row">
									<div class="col-sm-3">
										<div class="image_7"><img src="~/Content/img/product-img/img-7.png"></div>
										<div class="quote_icon"><img src="~/Content/img/product-img/quote-icon.png"></div>
									</div>
									<div class="col-sm-9">
										<h1 class="loksans_text">loksans</h1>
										<p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
									</div>
								</div>
							</div>
							<div class="client_2">
								<div class="row">
									<div class="col-sm-3">
										<div class="image_7"><img src="~/Content/img/product-img/img-7.png"></div>
										<div class="quote_icon"><img src="~/Content/img/product-img/quote-icon.png"></div>
									</div>
									<div class="col-sm-9">
										<h1 class="loksans_text">loksans</h1>
										<p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<h1 class="client_text">what is says our clients</h1>
						<p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
						<div class="clients_section2 layout_padding">
							<div class="client_1">
								<div class="row">
									<div class="col-sm-3">
										<div class="image_7"><img src="~/Content/img/product-img/img-7.png"></div>
										<div class="quote_icon"><img src="~/Content/img/product-img/quote-icon.png"></div>
									</div>
									<div class="col-sm-9">
										<h1 class="loksans_text">loksans</h1>
										<p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
									</div>
								</div>
							</div>
							<div class="client_2">
								<div class="row">
									<div class="col-sm-3">
										<div class="image_7"><img src="~/Content/img/product-img/img-7.png"></div>
										<div class="quote_icon"><img src="~/Content/img/product-img/quote-icon.png"></div>
									</div>
									<div class="col-sm-9">
										<h1 class="loksans_text">loksans</h1>
										<p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<h1 class="client_text">what is says our clients</h1>
						<p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
						<div class="clients_section2 layout_padding">
							<div class="client_1">
								<div class="row">
									<div class="col-sm-3">
										<div class="image_7"><img src="~/Content/img/product-img/img-7.png"></div>
										<div class="quote_icon"><img src="~/Content/img/product-img/quote-icon.png"></div>
									</div>
									<div class="col-sm-9">
										<h1 class="loksans_text">loksans</h1>
										<p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
									</div>
								</div>
							</div>
							<div class="client_2">
								<div class="row">
									<div class="col-sm-3">
										<div class="image_7"><img src="~/Content/img/product-img/img-7.png"></div>
										<div class="quote_icon"><img src="~/Content/img/product-img/quote-icon.png"></div>
									</div>
									<div class="col-sm-9">
										<h1 class="loksans_text">loksans</h1>
										<p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>*@
	<div class="copyright_section" style="background: #ddd;">
		<div class="container" style=" padding: 20px;">
			<div class="row align-items-center">
				<div class="col-12 col-lg-4">
					<div class="single_widget_area">
						<div class="footer-logo mr-50">
							<a href="index.html"><img src="~/Content/img/product-img/AquavisionLogo.png" alt="" style="height:115px;"></a>
						</div>
						<p class="copywrite" style="margin: 0;margin-top: 20px; font-size:12px;">	
							Copyright ©
							<script>document.write(new Date().getFullYear());</script>2023 Aquavision Distribution Ltd | Registered Company Number: 07756677
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/Content/js/jquery-2.2.4.min.js"></script>
	<script src="~/Content/js/popper.min.js"></script>
	<script src="~/Content/js/bootstrap.min.js"></script>
	<script src="~/Content/js/plugins.js"></script>
	<script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>