@model Aquavision.Data.Models.ProductOption
<div class="row">
	<div class="col-md-12">
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-square"></i>New Product Option
				</div>
			</div>
			<div class="portlet-body form">
				@using (Html.BeginForm("NewProductOptions", "Product", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })) {
					@Html.HiddenFor(model => model.Id)
					<input type="hidden" name="ProductGroupId" value="@ViewBag.ProductGroupId"/>
					<input type="hidden" name="ProductId" value="@ViewBag.ProductId"/>
					<div class="form-body">
						<div class="form-group">
							@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
							<div class="col-md-4">
								<input class="form-control" id="Name" name="Name" value="@Model.Name" type="text" required />
								@Html.ValidationMessageFor(model => model.Name)
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.SKU, new { @class = "control-label col-md-3" })
							<div class="col-md-4">
								<input class="form-control" id="SKU" name="SKU" value="@Model.SKU" type="text" required />
								@Html.ValidationMessageFor(model => model.SKU)
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.Price, new { @class = "control-label col-md-3" })
							<div class="col-md-4">
								<input class="form-control" id="Price" name="Price" value="@Model.Price" type="number" min="1" required />
								@Html.ValidationMessageFor(model => model.Price)
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Default Option</label>
							<div class="col-md-4">
								<input class="form-control" id="chkDefaultOption" checked="@Model.DefaultOption" name="chkDefaultOption" type="checkbox" />
							</div>
						</div>
						<div class="form-group">
							<label for="OptionImages" class="col-md-3 control-label">Option Images</label>
							<div class="col-md-4">
								<div class="input-group">
									<input type="file" id="OptionImage" name="file" class="form-control" required />
								</div>
							</div>
						</div>
						<div class="form-actions fluid">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn blue">Add</button>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>


