@model Aquavision.Data.Models.Product

@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Aquavision</title>

	<!-- Favicon  -->
	<link rel="icon" href="img/favicon.ico">

	<!-- Core Style CSS -->
	<link rel="stylesheet" href="~/Content/css/core-style.css">
	<link rel="stylesheet" href="~/Content/css/custom-style.css">

	@* temp *@
	<style>
		.container1 {
			display: grid;
			place-items: center;
			width: 100vw; /* Set the width of the container */
			height: 100vh; /* Set the height of the container */
		}

		.image1 {
			position: absolute;
			/* top: 0; */
			/* left: 0; */
			align-self: center;
			width: 25%;
			height: 50%;
		}

		.image2 {
			position: absolute;
			/* top: 0; */
			/* left: 0; */
			align-self: center;
			/*width: 25%;
			height: 50%;*/
		}

		.containerNew {
			position: relative;
			width: auto;
			/*width: 500px;*/ /* Set the width of the container */
		}

		.layer3 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover; /* Maintain image aspect ratio */
		}
	</style>
</head>
<body>
	<div class="main-content-wrapper d-flex clearfix">
		<div class="mobile-nav">
			<div class="shop-navbar-brand">
				<a href="@Url.Action("Index", "Home")"><img src="~/Content/img/product-img/AquavisionLogo.png" alt=""></a>
			</div>
			<div class="shop-navbar-toggler">
				<span></span><span></span><span></span>
			</div>
		</div>

		<header class="header-area clearfix">
			<div class="nav-close">
				<i class="fa fa-close" aria-hidden="true"></i>
			</div>
			<div class="logo" style="margin-left: 20px;">
				<a href="@Url.Action("Index", "Home")"><img src="~/Content/img/product-img/AquavisionLogo.png" alt="" class="logoimg"></a>
			</div>
			<div class="widget catagory mb-30" style="margin: 15px;">
				<h6 class="widget-title" id="modelName">@Model.Name</h6>
				<div class="catagories-menu">
					<div class="card card-widget">
						<div class="widget-user-header" style="padding: 5px;">
							<div class="widget-user-image text-center">
								<img id="AquavisionTv" class="img-circle elevation-2" src="@Model.GetProductImage()" alt="@Model.Name">
							</div>
							<div style="color: #1312128c;font-size: 14px;" id="modelDetail">@Model.SKU</div>
							<div style="color: #1312128c;font-size: 14px;" id="modelDetail">£@(Model.Price?.ToString("0.00"))</div>
							<div style="color: #1312128c;font-size: 14px;" id="modelDetail">
								@Model.Description</>
							</div>
						</div>
					</div>
				</div>
		</header>

		<div class="shop_sidebar_area" id="productSidebar">
			@Html.Partial("Product/_ProductOption", Model)
		</div>
		<div class="shop_sidebar_area product-summary" id="productSummary" style="display:none;">
			@Html.Partial("Product/_ProductSummary", Model)
		</div>
		<div class="shop_sidebar_area product-summary" id="customerSection" style="display:none;">
			<div class="widget catagory mb-30" style="padding:25px;">
				<form method="post" id="LoginForm">
					<div class="row">
						<div class="col-12 mb-3">
							<span>
								PLEASE LOGIN BELOW
							</span>
						</div>
						<div class="col-12 mb-3">
							<input type="text" class="form-control" name="customerEmail" value="" placeholder="Email" required>
						</div>
						<div class="col-12 mb-3">
							<input type="password" class="form-control" name="customerPassword" value="" placeholder="Password" required>
						</div>
						<div class="col-md-12 col-lg-6">
							<div class="checkbox">
								<label><input type="checkbox" name="rememberme" value="true"> Remember me</label>
							</div>
						</div>
						<div class="col-md-12">
							<p id="LoginMessage" style="padding-top: 10px; margin: 0; color: #c00;"></p>
						</div>
						<div class="col-md-6 mb-3">
							<input type="button" id="btnLogin" class="btn btn-outline-b text-uppercase nextstepbutton" value="Login" style="width:150px;" onclick="return customerLogin();" />
							<a onclick="showCustomerForm('L')" style="cursor:pointer;">Create New Account</a>
						</div>
						<div class="col-md-6 mb-3 text-right">
							<a>Forgot Password?</a>
						</div>
					</div>
				</form>
				<form method="post" id="RegisterForm" style="display:none;">
					<div class="row">
						<div class="col-12 mb-3">
							<span>
								CREATE NEW ACCOUNT
							</span>
						</div>
						<div class="col-12 mb-3">
							<input type="text" class="form-control" name="customerRegisterFullName" value="" placeholder="Full Name" required>
						</div>
						<div class="col-12 mb-3">
							<input type="text" class="form-control" name="customerRegisterEmail" value="" placeholder="Email" required>
						</div>
						<div class="col-12 mb-3">
							<input type="text" class="form-control" name="customerRegisterPhone" value="" placeholder="Phone" required>
						</div>
						<div class="col-12 mb-3">
							<input type="password" class="form-control" name="customerRegisterPassword" value="" placeholder="Password" required>
						</div>
						<div class="col-12 mb-3">
							<input type="password" class="form-control" name="customerRegisterConfirmPassword" value="" placeholder="Confirm Password" required>
						</div>
						<div class="col-md-12">
							<p id="RegisterMessage" style="padding-top: 10px; margin: 0; color: #c00;"></p>
						</div>
						<div class="col-12 mb-3">
							<input type="button" id="btnRegister" class="btn btn-outline-b text-uppercase nextstepbutton" value="Register" style="width:150px;" onclick="return customerRegister();" />
							<a onclick="showCustomerForm('R')" style="cursor:pointer;">Login</a>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="shop_product_area section-padding-100" id="productView">
			@Html.Partial("Product/_ProductView", Model)
		</div>
	</div>
	<script src="~/Content/js/jquery-2.2.4.min.js"></script>
	<script src="~/Content/js/popper.min.js"></script>
	<script src="~/Content/js/bootstrap.min.js"></script>
	<script src="~/Content/js/plugins.js"></script>
	<script src="~/Content/js/active.js"></script>

	<script>
		function categorytab(productId) {
			location.href = '@Url.Action("Shop", "Home")?productId=' + productId;
		}
		function productSection() {
			$('#productSidebar').show();
			$('#productSummary').hide();
			$('#productView').removeClass("product-view-summary");
		}
		function finishBuild() {
			var productOption = [];
			var selectedProductOption = $('#productOptionList .productoption:checked');
			for (var i = 0; i < $(selectedProductOption).length; i++) {
				productOption.push({
					Id: $(selectedProductOption[i]).attr('id')
				});
			}
			if (productOption.length > 0) {
				$.ajax({
					url: '/Product/SaveBuild',
					data: JSON.stringify({
						productId: @Model.Id,
						productOptions: productOption
					}),
					contentType: 'application/json',
					processData: false,
					type: 'POST',
					success: function (data) {
						if (data.result) {
							var resultData = data.ResultString;
							$('#cartTableContainer').html(resultData);
							$('#productSidebar').hide();
							$('#productSummary').show();
							$('#productView').addClass("product-view-summary");
						} else {
							alert(data.ErrorMessage);
						}
					}
				});
			} else {
				alert("Select any option to continue");
			}

		}
		function customerSection() {
			$('#productSidebar').hide();
			$('#productSummary').hide();
			$.ajax({
				type: "POST",
				url: "/Customer/IsRegistered",
				//data: formData,
				success: function (data) {
					if (data.Result) {
						var productOption = [];
						var selectedProductOption = $('#productOptionList .productoption:checked');
						for (var i = 0; i < $(selectedProductOption).length; i++) {
							productOption.push({
								Id: $(selectedProductOption[i]).attr('id')
							});
						}
						$.ajax({
							url: '/Customer/LinkCustomerBuild',
							data: JSON.stringify({
								productId: @Model.Id,
								productOptions: productOption,
								customerId: data.CustomerId
							}),
							contentType: 'application/json',
							processData: false,
							type: 'POST',
							success: function (data) {
								if (data.result) {
									location.href = `@Url.Action("Details", "Customer")`;
								} else {
									alert(data.ErrorMessage);
								}
							}
						});
					} else {
						$('#customerSection').show();
					}
				}
			});
		}
		function customerRegister() {
			$('#productSummary').hide();
			$("#RegisterMessage").text("");
			var formData = $("#RegisterForm").serialize();
			var isFormValid = $("#RegisterForm")[0].checkValidity();
			var productOption = [];
			var selectedProductOption = $('#productOptionList .productoption:checked');
			for (var i = 0; i < $(selectedProductOption).length; i++) {
				productOption.push({
					Id: $(selectedProductOption[i]).attr('id')
				});
			}
			if (isFormValid) {
				$.ajax({
					type: "POST",
					url: "/Customer/Register",
					data: formData,
					@*data: JSON.stringify({
						formData: formData,
						productId: @Model.Id,
						productOptions: productOption
					}),*@
					success: function (data) {
						if (data.Result) {
							$.ajax({
								url: '/Customer/LinkCustomerBuild',
								data: JSON.stringify({
									productId: @Model.Id,
									productOptions: productOption,
									customerId: data.CustomerId
								}),
								contentType: 'application/json',
								processData: false,
								type: 'POST',
								success: function (data) {
									if (data.result) {
										location.href = `@Url.Action("Details", "Customer")`;
									} else {
										alert(data.ErrorMessage);
									}
								}
							});
							@*location.href = `@Url.Action("Details", "Customer")`;*@
						} else {
							$("#RegisterMessage").text(data.Message);
						}
					}
				});
			} else { $("#RegisterForm")[0].reportValidity(); }
		}
		function customerLogin() {
			$('#productSummary').hide();
			$("#LoginMessage").text("");
			var formData = $("#LoginForm").serialize();
			var isFormValid = $("#LoginForm")[0].checkValidity();
			var productOption = [];
			var selectedProductOption = $('#productOptionList .productoption:checked');
			for (var i = 0; i < $(selectedProductOption).length; i++) {
				productOption.push({
					Id: $(selectedProductOption[i]).attr('id')
				});
			}

			if (isFormValid) {
				$.ajax({
					type: "POST",
					url: "/Customer/Login",
					data: formData,
					@*data: JSON.stringify({
						formData: formData,
						productId: @Model.Id,
						productOptions: productOption
					}),*@
					success: function (data) {
						if (data.Result) {
							$.ajax({
								url: '/Customer/LinkCustomerBuild',
								data: JSON.stringify({
									productId: @Model.Id,
									productOptions: productOption,
									customerId: data.CustomerId
								}),
								contentType: 'application/json',
								processData: false,
								type: 'POST',
								success: function (data) {
									if (data.result) {
										location.href = `@Url.Action("Details", "Customer")`;
									} else {
										alert(data.ErrorMessage);
									}
								}
							});
						} else {
							$("#LoginMessage").text(data.Message);
						}
					}
				});
			} else { $("#LoginForm")[0].reportValidity(); }
		}
		function showCustomerForm(type) {
			if (type == 'L') { $("#RegisterForm")[0].reset(); $("#RegisterForm").show(); $("#LoginForm").hide(); }
			else { $("#LoginForm")[0].reset(); $("#RegisterForm").hide(); $("#LoginForm").show(); }
		}
	</script>
	<script>
		$.ajax({
				url: `@Url.Action("GetProductDefaultImages", "Product")?Id=${@Model.Id}`,
				success: function (data) {
					//console.log(data);
					$('#imagesContainer').attr("data-layer-default", "data:image/png;base64," + data.ProductImage);
					const container = document.querySelector('.containerNew');
					const defaultLayerUrl = container.getAttribute(`data-layer-default`);
					if (defaultLayerUrl) {
						const img1 = new Image();
						img1.src = defaultLayerUrl;
						img1.onload = function () {
							var width = this.width;
							var height = this.height;

							maxHeight = (height * img.width) / width;
							container.style.height = `${maxHeight}px`;
						};

						const img = document.createElement('img');
						img.src = defaultLayerUrl;
						img.id = 'img-default';
						img.alt = `Image Layer`;
						img.classList.add('layer3');
						container.appendChild(img);
					}
					$.each(data.Images, function (i, v) {
						/*console.log("ID" + v.ImageData);*/
						$('#imagesContainer').attr("data-layer-" + v.GroupId, "data:image/png;base64,"+v.ImageData);
						const container = document.querySelector('.containerNew');
						const layerAttribute = `data-layer-${v.GroupId}`;
						const layerUrl = container.getAttribute(layerAttribute);
						if (layerUrl) {
							const img1 = new Image();
							img1.src = layerUrl;
							img1.onload = function () {
								var width = this.width;
								var height = this.height;

								maxHeight = (height * img.width) / width;
								container.style.height = `${maxHeight}px`;
							};

							const img = document.createElement('img');
							img.src = layerUrl;
							img.id = 'img-' + v.GroupId;
							img.alt = `Image Layer`;
							img.classList.add('layer3');
							container.appendChild(img);
						}

						/*working fine*/
						//$('#imagesContainer').attr("data-layer-" + v.GroupId, v.ProductImage);
						//const container = document.querySelector('.containerNew');
						//const layerAttribute = `data-layer-${v.GroupId}`;
						//const layerUrl = container.getAttribute(layerAttribute);

						//if (layerUrl) {
						//	const img1 = new Image();
						//	img1.src = layerUrl;
						//	img1.onload = function () {
						//		var width = this.width;
						//		var height = this.height;

						//		maxHeight = (height * img.width) / width;
						//		container.style.height = `${maxHeight}px`;
						//	};

						//	const img = document.createElement('img');
						//	img.src = layerUrl;
						//	img.id = 'img-' + v.GroupId;
						//	img.alt = `Image Layer`;
						//	img.classList.add('layer3');
						//	container.appendChild(img);
						//}
					});


				},
				error: function (data) {
					console.warn(data);
				}
			});
		document.addEventListener('DOMContentLoaded', function () {
			var nav = document.querySelector('nav ul');
			nav.classList.add('visible');
			document.querySelector('header').addEventListener('click', function () {
				nav.classList.toggle('visible');
			});
		});
		//document.onload = function () {
		//	const container = document.querySelector('.containerNew');
		//	const layerCount = Object.keys(container.dataset).filter(key => key.startsWith('layer')).length;
		//	let maxHeight = 0;
		//	for (let i = 1; i <= layerCount; i++) {
		//		const layerAttribute = `data-layer${i}`;
		//		const layerUrl = container.getAttribute(layerAttribute);

		//		if (layerUrl) {
		//			const img1 = new Image();
		//			console.log(layerUrl);
		//			img1.src = layerUrl;
		//			img1.onload = function () {
		//				// Get the width and height of the image
		//				var width = this.width;
		//				var height = this.height;

		//				// Display the dimensions
		//				//console.log('Width:', width, 'Height:', height);
		//				maxHeight = (height * img.width) / width;
		//				container.style.height = `${maxHeight}px`;
		//			};

		//			const img = document.createElement('img');
		//			img.src = layerUrl;
		//			img.alt = `Layer ${i}`;
		//			img.classList.add('layer3');
		//			container.appendChild(img);
		//		}
		//	}
		//}
		function setProductImage(productOptionId) {
			$.ajax({
				url: `@Url.Action("GetProductImage", "Product")?Id=${productOptionId}`,
				success: function (data) {
					if (data.Result) {
						$('#imagesContainer').attr("data-layer-" + data.Image.GroupId, "data:image/png;base64," + data.Image.ImageData);
						const container = document.querySelector('.containerNew');
						const layerAttribute = `data-layer-${data.Image.GroupId}`;
						const layerUrl = container.getAttribute(layerAttribute);
						$('#img-' + data.Image.GroupId).remove();
						if (layerUrl) {
							const img1 = new Image();
							img1.src = layerUrl;
							img1.onload = function () {
								var width = this.width;
								var height = this.height;

								maxHeight = (height * img.width) / width;
								container.style.height = `${maxHeight}px`;
							};

							const img = document.createElement('img');
							img.src = layerUrl;
							img.id = 'img-' + data.Image.GroupId;
							img.alt = `Layer `;
							img.classList.add('layer3');
							container.appendChild(img);
						}
					}

					/*$('#productMainImg').attr('src', data.ImageURL);*/
					//console.log(data);

					/*working*/
					//$('#imagesContainer').attr("data-layer-" + data.Image.GroupId, data.Image.ProductImage);
					//const container = document.querySelector('.containerNew');
					//const layerAttribute = `data-layer-${data.Image.GroupId}`;
					//const layerUrl = container.getAttribute(layerAttribute);
					//$('#img-' + data.Image.GroupId).remove();
					//if (layerUrl) {
					//	const img1 = new Image();
					//	img1.src = layerUrl;
					//	img1.onload = function () {
					//		var width = this.width;
					//		var height = this.height;

					//		maxHeight = (height * img.width) / width;
					//		container.style.height = `${maxHeight}px`;
					//	};

					//	const img = document.createElement('img');
					//	img.src = layerUrl;
					//	img.id = 'img-' + data.Image.GroupId;
					//	img.alt = `Layer `;
					//	img.classList.add('layer3');
					//	container.appendChild(img);
					//}
				},
				error: function (data) {
					console.warn(data);
				}
			});
		}
	</script>
</body>

</html>

